
/* Google Fonts */

/* 
font-family: 'Open Sans', sans-serif;
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');




/

/* ==============================
   Base Css
   ============================== */


html{
	overflow-y: scroll;
    -ms-overflow-style: scrollbar;
}
html, body{
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight:400;
}
button:focus,a:focus {
	outline: 0px solid;
}
.btn:focus {
	outline: 0px solid;
}
img {
	max-width: 100%;
	height: auto;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 15px;
	font-family: 'Open Sans', sans-serif;
}

a:hover {
	text-decoration: none !important;
}
a:focus {
	text-decoration: none !important;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="color"]:focus {
	box-shadow: 0 0 0;
	outline: 0 none;
}

section {
	
}

ul {
	margin:0;
	padding:0;
}

li {
	list-style:none;
}
.page-wrapper div{
    overflow: hidden;
}





/* ==============================
   Heading styles
   ============================== */

h1 {
	
}
h2 {
	
}
h3 {
	
}
h4 {
	
}
h5 {
	
}

h6 {
	
}


/* ==============================
   Paragraph Style
   ============================== */
p {
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	margin: 0;
}


/* ==============================
   Margin Top styles
   ============================== */
.mar-0 {
	margin: 0 !important;
}
.mt-10 {
	margin-top: 10px !important;
}
.mt-20 {
	margin-top: 20px !important;
}
.mt-30 {
	margin-top: 30px !important;
}
.mt-40 {
	margin-top: 40px !important;
}
.mt-50 {
	margin-top: 50px !important;
}
.mt-60 {
	margin-top: 60px !important;
}


/* ==============================
   Margin Bottom Styles
   ============================== */
.mb-10 {
	margin-bottom: 10px !important;
}
.mb-20 {
	margin-bottom: 20px !important;
}
.mb-30 {
	margin-bottom: 30px !important;
}
.mb-40 {
	margin-bottom: 40px !important;
}
.mb-50 {
	margin-bottom: 50px !important;
}
.mb-60 {
	margin-bottom: 60px !important;
}


/* ==============================
   Padding Top Styles
   ============================== */
.pad-0 {
	padding: 0 !important;
}
.pt-10 {
	padding-top: 10px !important;
}
.pt-20 {
	padding-top: 20px !important;
}
.pt-30 {
	padding-top: 30px !important;
}
.pt-40 {
	padding-top: 40px !important;
}
.pt-50 {
	padding-top: 50px !important;
}
.pt-60 {
	padding-top: 60px !important;
}


/* ==============================
   Padding Bottom Styles
   ============================== */
.pb-10 {
	padding-bottom: 10px !important;
}
.pb-20 {
	padding-bottom: 20px !important;
}
.pb-30 {
	padding-bottom: 30px !important;
}
.pb-40 {
	padding-bottom: 40px !important;
}
.pb-50 {
	padding-bottom: 50px !important;
}
.pb-60 {
	padding-bottom: 60px !important;
}

.section-padding {
	padding: 80px 0;
}


.dark-overlay {
	background-size: cover !important;
	position: relative;
	z-index: 1;
}

.dark-overlay:after {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #000000bf;
	content: "";
	z-index: -1;
	opacity: .8;
}


/*
.header-area {
	
}
.header-area .navbar-brand {
	height: 100px;
    width: auto;
    padding: 0 15px;
}
.header-area .navbar-brand img {
	height: 100px;
    width: auto;
}
.main-menu {
	position:relative;
}
.main-menu p {
	padding-left:15px;
	line-height:initial;
	position: absolute;
    right: 0;
    z-index: 999;
	font-size:13px;
}
.main-menu p a {
	padding:3px 8px;
	text-decoration: none;
    background: #fff;
    color: #ac1f23;
    margin: 0 0 0.1rem 0.5rem;
    border: 1px solid #ac1f23;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -khtml-border-radius: 2px;
    display: inline-block;
}
.main-menu p a:hover {
	background:#ac1f23;
	color:#fff;
}
.main-menu li {
	margin-left:10px;
}
.main-menu li a{
	text-decoration: none;
    color: #666;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -khtml-border-radius: 2px;
    background: #eee;
    border: 1px solid #ccc;
    margin: 0.1rem 0;
    display: inline-block;
	font-size: 18px;
    font-weight: 300;
	padding: 10px 15px;
    line-height: initial;
	margin-top: 38px;
}
.main-menu li a:hover{
	background: #666666 !important;
    color: #fff !important;
    border: 1px solid #666;
}



.slider-area {
	margin-top:140px;
}
.single-slider {
	height:100vh;
	background-size:cover !important;
}
.display-table {
    height: 100%;
    display: table;
    width: 100%;
    text-align: center;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.slider-area .owl-nav{
	display:block !important;
}
.slider-area .owl-nav div {
    font-size: 85px;
    color: #fff;
    transition: .4s;
    position: absolute;
    margin: 0px 15px;
    top: 50%;
    transform: translateY(-50%);
}
.slider-area .owl-nav div.owl-next {
    left: auto;
    right: 0;
}

.slider-content {
	width: 50%;
    margin: auto;
    color: #fff;
    position: relative;
    z-index: 2;
	height:220px;
}
.slider-content:before {
	position: absolute;
    background: #00000094;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.slider-content h1 {
	font-size:45px;
	margin-bottom:15px;
	font-weight:300;
	padding-top:30px;
}
.slider-content p {
	font-size: 22px;
    margin-bottom: 30px;
    font-weight: 400;
    font-style: italic;
}
.slider-content a {
	font-size:18px;
	font-weight:400;
	text-transform:uppercase;
	border:1.5px solid #fff;
	padding:7px 16px;
	letter-spacing:2px;
	color:#fff;
	display: inline-block;
	margin-bottom:30px;
	transition:0.3s;
}
.slider-content a:hover {
	background:#ac1f23;
	border:2px solid #ac1f23;
}
*/



.top-area {
	background:#fff;
	padding: 40px 0;
	text-align:center;
}
.top-logo img {
	height: 120px;
    width: auto;
}


.text-area {
	text-align:center;
	color:#fff;
}
.text-content {
	margin-bottom:30px;
}
.text-area h2 {
	font-size:34px;
	font-weight:300;
	line-height:50px;
}
.text-area h2 a{
	color:#AC1D23;
	font-style: italic;
	border-bottom:2px solid #AC1D23;
}

#image-preview {
  width: 540px;
  /*height: 400px;*/
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  color: #000;
  margin:auto;
  margin-bottom:60px;
  padding: 20px;
}
#image-preview input {
  /*line-height: 200px;
  font-size: 200px;
  position: absolute;
  opacity: 0;
  z-index: 10;*/
}
#image-preview label {
  position: absolute;
  z-index: 5;
  opacity: 0.8;
  cursor: pointer;
  background-color: #bdc3c7;
  width: 200px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

#image-preview #image-pre-content
{
	width: 500px;
    height: 500px;
    background: #eee;
    position: relative;
    /*background: url(../images/sample/default.jpg);*/
    background-size: contain;
}

#image-preview-img{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



#text-for-sweat{
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    /*height: 60px;*/
    text-align: center;
    color: black;
    font-size: 50px;
    border: 0;
    background: transparent;
    background: transparent url(../images/blink.gif) no-repeat center center;
    color: white;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 600;
}

#share-photo-tools
{
	display: none;
}

#share-photo-tools .btn {
    color: #fff;
    font-size: 24px;
    line-height: 1;
    padding: 14px 53px;
    line-height: 25px;
    display: inline-block;
    border-radius: 8px;
    border-bottom: 4px solid #b1182f;
    background: #f37f28;
    background: -webkit-linear-gradient(top,  #af001a 0%, #de2840  100%);
    background: linear-gradient(to bottom, #af001a 0%, #de2840  100%);
    cursor: pointer;
}

#share-photo-tools .btn
{
	padding: 14px 10px;
    margin: 0 5px;
    line-height: 25px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    white-space: nowrap;
    transition: flex 0.5s ease, margin 0.5s ease, opacity 0.5s ease;
    overflow: hidden;
    height: 53px;
	min-width: 100px;
}

#add-photo-tools{
	display: none;
	transition:all 0.5s;
}

#text-for-sweat:focus
{
	background: transparent!important;
}

#image-sweat-tool
{
	width: 100%;
	margin-top: 10px;
}

#add-photo-btn
{
	color: #fff;
    font-size: 24px;
    line-height: 1;
    padding: 14px 53px;
    line-height: 25px;
    display: inline-block;
    border-radius: 8px;
    border-bottom: 4px solid #b1182f;
    background: #f37f28;
 background: -webkit-linear-gradient(top,  #af001a 0%, #de2840  100%);
    background: linear-gradient(to bottom, #af001a 0%, #de2840  100%);
    cursor: pointer;
}

#i-dont-have-photo
{
	color: #70767a;
    text-decoration: none;
}

#i-dont-have-photo:hover
{
	color: #70767a;
    text-decoration: underline;
    cursor: pointer;
}

#file-input-for-img{
	display: none;
}

#isweatfor-title{
	position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 75px;
    font-weight: 600;
    font-style: italic;
    display: none;
}

#share-btn-close{
	display: none;
}

#facebook-share{
	display: none;
}

#twetter-share{
	display: none;
}

#pinterest-share{
	display: none;
}


.galarry-area {
	
}
.galarry-area .container-fluid, .galarry-area .container-fluid.row, .galarry-area .col-md-4 {
	padding:0;
}
.galarry-area img {
	width:100%;
	height:auto;
}



.footer-area {
    padding-bottom: 20px;
	text-align:center;
}
.footer-link a {
    display: inline-block;
    color: #333;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin: 0 10px;
}
.footer-link a:hover {
    border-bottom:1px solid #333;
}


#bottom-logo-mark{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}












